<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>
</head>

<body>
  <div class="w3-container w3-purple">
    <h1>Deportes</h1>
  </div>

  <form action="/deportes"></form>
  <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <div class="w3-card-4" style="width:100%  " >
            
            <div class="w3-container w3-center">
              <p>FUTBOL</p>
              <img src="/img/butbol.jpg" alt="Los Angeles" style="width:100%; height: 400px;">
 <p>El fútbol es uno de los deportes más populares del mundo, que tiene millones y millones de aficionados por todo el planeta, y miles y miles de personas que lo practican. 

  Además de las alegrías, broncas o tristezas que puede generar desde lo emocional, brinda importantes beneficios para la salud.
  
  Te contamos cuáles son algunos de esos beneficios que vuelven a este deporte, además de divertido, muy saludable.
   </p>
<br>
   <h2 align="center">¿En qué nos favorece practicar fútbol? </h2>
<p>Por todo lo que se corre en el fútbol es uno de los ejercicios más favorables para el corazón, ya que mejora la función cardíaca. Además es una práctica que colabora con la resistencia y el consumo de oxígeno. Es recomendado para casos de presión arterial alta, regular los niveles de colesterol y bajar el riesgo a padecer diabetes.
</p>
<br>

<h2 align ="center">Equilibrio</h2>

<p>Su práctica favorece el equilibro corporal de las personas, ya que es un deporte de precisión, velocidad y fuerza, para lo que el equilibrio es clave.
</p>
<br>

<h2 align ="center">Fortalece estructura ósea:</h2>

<p> Como otros deportes, practicarlo durante largos períodos aumenta la densidad ósea y colabora con el desarrollo de los huesos.</p>
<br>

<h2 align ="center">Salud mental:</h2>

<p>Está demostrado que el fútbol influye positivamente en la mente de quienes lo practican, ya que es una buena forma de liberar el estrés, crear autonomía y confianza en las personas.</p>
<br>

<center><img src="/img/balon.jpg" width="400px" height="200px"></center>

            </div>
 
          </div>
        </div>
    
        <div class="item">
          <div class="w3-card-4" style="width:100%  " >
            
            <div class="w3-container w3-center">
              <p>BASQUET</p>
              <img src="/img/basquet1.jpg" alt="Los Angeles" style="width:100%; height: 400px;">
          
        
              <p>El baloncesto combina perfectamente el ejercicio físico, el mental y el juego. Hay que tener en cuenta también que una de sus grandes ventajas respecto a otros deportes es que el mal tiempo no es obstáculo para seguir jugando ya que se puede jugar tanto al aire libre como en una pista cubierta.</p>

              <h2 align ="center">¿Cuáles son los principales beneficios?</h2>
              
              Comenzando a una edad adecuada y con un buen entrenador que siga los pasos adecuados, los beneficios físicos que se producen son bastante llamativos:
              <br>
              <br>
              -Mejora la coordinación
              <br>
              -Aumenta la resistencia
              <br>
              -Desarrollo de la agilidad, habilidad locomotriz y la rapidez de reflejos
              <br>
               -mayor concentración y una espectacular rapidez de reflejos.
               <br>
               -Cuida y protege el sistema cardiovascular y mejora la resistencia muscular.
              <br>
              <p>En cuanto a la vertiente emocional, la propia dinámica del juego favorece la concentración y nos enseña a actuar con rapidez, tomando decisiones que les ayuden a resolver las situaciones problemáticas.
              </p>
              <br>
              <p>Además de los beneficios físicos y emocionales, el baloncesto contribuye al correcto desarrollo personal y social, potenciando valores como el compañerismo, el trabajo en equipo, el respeto y la solidaridad.              </p>          
             <br>
             <p>Todos estos beneficios físicos, emocionales y que aportan valor a la sociedad es lo que nos lleva a contribuir en la promoción de esta práctica deportiva, muchos de cuyos valores se ven reflejados en el compromiso de Quirónsalud con la sociedad, promoviendo la salud, los hábitos de vida saludable en aras de una sociedad más sana, justa y responsable.
            </p>
            <br>
            <img src="/img/balonBas.jpg" alt="Los Angeles" style="width:100%; height: 400px;">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="w3-card-4" style="width:100%  " >
            <div class="w3-container w3-center">
              <p>VOLEIBOL</p>
              <img src="/img/boli.jpg" alt="Los Angeles" style="width:100%; height: 400px;">

<p>El voleibol es perfecto para ganar agilidad, ya que hay que ser rápido y desplazarse para llegar a tocar el balón sin que caiga.
</p>
<br>
<p>La posición casi permanente de media sentadilla, hace que el trabajo recaiga en gran parte en las piernas y los glúteos, por lo que es un deporte perfecto para tonificar estas zonas.
</p>

<h2 align ="center">Reflejos</h2>
<br>
<p>Practicar voleibol ayuda a desarrollar los reflejos y la capacidad de reacción, ya que se trata de un deporte muy dinámico en el que hay que estar muy atenta para evitar que el equipo contrario encaje puntos.
</p>
<h2 align ="center">Resistencia</h2>
<p>Saltos, carreras, toques de balón… el voleibol ayuda a conseguir resistencia y ganar fondo físico. Los partidos pueden llegar a durar desde una hora hasta dos horas y media, aproximadamente.
</p>
<h2 align  ="center">Perder peso</h2>
<p>El voleibol es un deporte aeróbico, por lo que es muy recomendable para perder peso y quemar grasa.
</p>

<img src="/img/voli.jpg" alt="Los Angeles" style="width:100%; height: 400px;">

            </div>
          </div>
        </div>
      </div>
    
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <a href="/pag_principal.html" style="width:25%" class="w3-bar-item w3-button w3-mobile"> Regresar al principal</a>
