<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <LINK REL=StyleSheet HREF="/css/frase.css" TYPE="text/css" MEDIA=screen>
  <title>Asistencia Nutricional</title>
</head>
<style>
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(img/registro.jpg );
  
}
.form-register {
  width: 400px;
  background:transparent;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  box-shadow: 7px 13px 37px #FF7043;
}
</style>
<body>
  <section class="form-register">
    <form action="/Motivacion" >
     <center>
 <p>
  
 <h1>¡¡El precio de la disciplina siempre es menor que el  dolor del arrepentimiento!</h1>
<h1> "SUERTE o MUERTE" </h1>
 </p>
 </center>
</form>
</div>
  </section>
</body>
</html>
