<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/nutricion.css">

  <title>Inicio</title>
</head>

<body>
  <form action="/nutricion"></form>
  <h1 align="center">NUESTRA SALUD </h1>

  <p> Según la OMS, la nutrición es la ingesta de alimentos en relación con las necesidades dietéticas del organismo.
    Una buena nutrición, entendida como una dieta suficiente y equilibrada combinada con el ejercicio físico regular, es
    un elemento fundamental para mantener una vida saludable.

    La nutrición es el proceso en el que nuestro organismo utiliza el alimento para mantenerse en buen funcionamiento y
    reparar zonas deterioradas. Para ello se llevan a cabo diversos procesos entre los que se incluye la absorción,
    asimilación y transformación de los alimentos, que permiten al organismo incorporar los nutrientes destinados a su
    mantenimiento, crecimiento y correcto funcionamiento.

    Con frecuencia se utiliza el término alimentación como sinónimo de nutrición, pero tienen diferencias que se deben
    tener en cuenta, la más destacable sería que la nutrición es un acto involuntario y la alimentación depende de actos
    voluntario y conscientes a la hora de ingerir los alimentos.

    Por este motivo nosotros podemos actuar sobre nuestra alimentación, incluyendo alimentos saludables en las
    proporciones adecuadas, para disfrutar de la correcta nutrición de nuestro cuerpo.

    La nutrición es uno de los pilares de la salud. En todas las edades una nutrición adecuada permite reforzar el
    sistema inmunitario, contraer menos enfermedades y en general, disfrutar de una buena salud.
  </p>
  <br>
  <br>
  <center><img src="/img/salud.jpg" width="400px" height="200px"></center>
  </div>
  <br>
  <br>
  <h3 align="center">DIETA PARA DIABETICOS </h3>
  <p>

    Si tiene diabetes, su cuerpo no puede producir o utilizar la insulina adecuadamente. Esto conduce a una elevación
    del nivel de glucosa (azúcar) en la sangre. Una alimentación sana ayuda a mantener el azúcar de la sangre en un
    nivel adecuado. Es una parte fundamental del manejo de la diabetes, ya que controlando el azúcar en la sangre
    (glucemia) se pueden prevenir las complicaciones de la diabetes.

    Un nutricionista puede ayudarlo a diseñar un plan de comidas específico para usted. Este plan debe tener en cuenta
    su peso, medicinas que esté tomando, estilo de vida y otros problemas de salud que usted pueda tener.

    Una alimentación saludable para un diabético incluye :

    <br>
    ♥Limitar alimentos con altos contenidos de azúcar
    <br>
    ♥Comer porciones pequeñas a lo largo del día
    <br>
    ♥Prestar atención a cuándo y cuánta cantidad de carbohidratos consume
    <br>
    ♥Consumir una gran variedad de alimentos integrales, frutas y vegetales
    <br>
    ♥Comer menos grasas
    <br>
    ♥Limitar el consumo del alcohol
    <br>
    ♥Usar menos sal
  </p>
  <br>
  <center><img src="/img/Diabetes.jpg" width="400px" height="200px"></center>

  <br>
  <br>
  <br>
  </div>

  <h3 align="center">DIETA PARA GANAR PESO </h3>

  <p>

    "Los alimentos altos en calorías y nutrientes son también altos en grasa, pero lo importante es elegir el tipo de
    grasa correcto", indica.

    Las nueces, los maníes, las semillas, la manteca de maní o de almendras, los aguacates, el humus y aceites son
    grandes fuentes de grasas sanas vegetales llenas de nutrientes y calorías.

    Las grasas animales suministran nutrientes y la misma cantidad de calorías que las grasas vegetales, pero también
    contienen grasas saturadas que pueden elevar el colesterol malo.

    El objetivo es elegir comidas que contengan vitaminas, minerales, nutrientes y calorías de forma que cada bocado
    esté cargado de buena nutrición.

    Ganar masa muscular
    Otro de los motivos para querer subir de peso es la necesidad de adquirir más masa muscular.

    Los atletas y deportistas que quieran ganar músculo necesitan ingerir suficientes calorías y combinarlo con un
    entrenamiento adecuado para asegurarse de que suben de peso en las partes del cuerpo correctas.

  </p>

  <center><img src="/img/GanarP.jpg" width="400px" height="200px"></center>
  <br>
  <br>
  <br>
  <br>
  <h3 align="center"> DIETA PARA PERDER PESO </h3>

  <p>
    Para Ganar masa muscular nos hará perder grasa, aumentar nuestro metabolismo y estar más duritas. Cuando entrenamos
    necesitamos seguir unas pautas de alimentación determinadas para poder obtener los resultados deseados.
    De nada sirve entrenar si no estás comiendo adecuadamente. Recuerda esta formula: 75% alimentación, 20%
    entrenamiento 5% descanso. Esta es la clave del cuerpo de tus sueños.
    Para conseguir transformar la grasa en masa muscular te damos estas pautas.

    <br>
    ♥ Calorías suficientes para poder hacer ejercicio; no prives a tu cuerpo de energía porque no construirás músculo
    sin suficiente combustible.
    <br>
    ♥ Diferentes fuentes de proteínas pescado, carne, tofu y legumbres. Varía porque tienen diferentes perfiles de
    aminoácidos que se complementan.
    <br>
    ♥ Grasas saludables de pescado, semillas de lino o nueces, contienen Omega 3, importantes para la regeneración
    muscular.
    <br>
    ♥ Verduras y fruta a diario para tener reservas. Los micronutrientes, son fundamentales en todos los procesos
    metabólicos.
  </p>
  <br>
  <center><img src="/img/perder peso.jpg" width="400px" height="200px"></center>
  </div>
</body>

</html>