<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <h1 id="nutricion" style="color: aliceblue;">Nutrición</h1>
    <a class="navbar-brand">
      <i class="fas fa-link" id="fintech1" style="color: aliceblue; "></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="font-size:15px;">
          Salud y vida
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/deportes">Deportes</a>
            <a class="dropdown-item" href="/nutricion">Nutrición</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="font-size:15px;">
          Registro
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/Registro">Registro</a>
            <a class="dropdown-item" href="/Lista">Lista</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout" >Cierre la Secion</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/signin" id="session">Inicio de Secion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup" id="registro">Registrate</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>