<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body style="background-image: url('img/registro.jpg');">
  <form action="/signup" method="POST" id="registros">
    <div>
      <label id="Nombre">Nombre </label>
      <input type="text" id="Nombre" name="nombre">
    </div>
    <div>
      <label id="Apellido">Apellido </label>
      <input type="text" id="apellido" name="apellido">

    </div>
    <div>
      <label id="username">Correo </label>
      <input type="email" id="username" name="username">

    </div>
    <div>
      <label id="contraseña">Contraseña </label>
      <input type="password" id="Contraseña" name="password">
    </div>
    <div>
      <button type="submit" id="botonGuardar"><a id="guardar">Guardar</a></button>
    </div>
  </form>
</body>
</html>